.pieChart {
  width: 500px;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cdc9c9;
  background-color: #faf5ef;
  border-radius: 15px;
}